/* .slider {
    width: 340px;
    margin: 0;
    display: inline-block;
} */

.rc-slider-track {
    background: transparent;
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle, 
.rc-slider-handle:active, 
.rc-slider-handle:focus,
.rc-slider-handle {
    background: green;
    border: 2px solid green;
    box-shadow: none;
    outline: none;
    margin-left: -7px;
    margin-top: -3px;
    width: 13px;
    height: 13px;
}

/* .Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
}

.logo {
    height: 100%;
    background: #3e5a74;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 15px;
}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}

.slider-level {
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
}

.select-container {
    margin-left: auto;
    margin-right: 1rem;
    color: white;
} */
